################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/metno/v16
/metno/bin/Debug
/metno/obj/Debug
/metno.UI/bin/Debug
/metno.UI/obj/Debug
/packages/Newtonsoft.Json.12.0.1
